
:root {
    /* Dimation */
    --width-full: 100%;
    --width-12col: 1200px;

    /* Grid Settings */
    --grid-gap: 10px;

    --padding-default: 20px;

    /* Colors */
    --bacground-color-navigstion:#005555b2;
    --navigation-color1-:#ededed;
    --navigation-color2-:#F05A7E;
    --color-white:#FFFFFF;
    --color-black:#1A2130;
    --color-green-dark:#069A8E;
    --color-green-light:#A1E3D8;
    --color-end:#E5E1DA;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}

.container {
    background-color: var(--bacground-color-dark-bg);
    width: var(--width-full);
    height: auto;
}

.navigation {
    background-color: #005555b2;
    position: relative;
    z-index: 1000;
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 20px
}

.menu_page { 
    width: var(--width-12col );
    margin: 0 auto;
}
.menu_page ul {
    display: flex;
}


.menu_page ul li {
    list-style-type: none;
    margin: 10px 0 10px 300px;
}

.menu_page ul li a {
    color: #ebebeb;
    text-decoration: none;
    text-transform: uppercase;
    
    padding: 0 10px 0 10px;
}

.menu_page ul li a:hover {
    color: #F05A7E;
}

.image {
    background-image: url('https://s183.convertio.me/p/1170JIL-9Wk9k1epkr4H3g/5d5f503a8fc6d6e107f15ba03f8779d2/DSC04239-4.png');
    color: var(--color-white);
    width: var(--width-full);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    background-position: 50% 50%;
    margin-top: -40px;
}

.image_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    width: var(--width-12col);
    margin: 0 auto;
}

.image_text {
    grid-column: 4 / span 4;
    margin-top: 250px;
    grid-row: 1;
    text-shadow: 1px 1px 1px var(--navigation-color2-); /* for text shadow */
/*     box-shadow: 2px 2px 2px #333333; */ /* for box shadow */
}


.image2 {
    background-image: url('https://s142.convertio.me/p/jjyleLdxjlwxgjTofPnlTw/5d5f503a8fc6d6e107f15ba03f8779d2/DSC04250.png');
    color: var(--color-white);
    width: var(--width-full);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    background-position: 50% 50%;
    margin-top: -40px;
}

.image2_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    width: var(--width-12col);
    margin: 0 auto;
}

.image2_text {
    grid-column: 2 / span 4;
    margin-top: 250px;
    grid-row: 1;
    text-shadow: 1px 1px 1px #333333; /* for text shadow */
/*     box-shadow: 2px 2px 2px #333333; */ /* for box shadow */
}

.image2_text button {
    background-color: transparent;
    border: 1px solid transparent; 
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
}

.image2_text button a {
    color: #F05A7E;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    text-shadow: 1px 1px 1px #333333;
}

.categories_content {
    width: var(--width-12col);
    margin: 20px auto; 
    background-color:#E5E1DA;
    height: 200px;
    display: flex;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--grid-gap);
    box-sizing: border-box;
    align-items: center;
    border-radius: 5px; 
    justify-content: space-evenly;
}
.categories_content_block_icon {
    justify-content:center;
    display: flex;
    color:#F05A7E;
}
.categories_content_block_text h4{
    color:#069A8E;
}

.categories_content_block { 
    padding: 20px 20px 20px 20px;
    
}

.content_image_image {
    clip-path: polygon(0 29%, 100% 0, 100% 100%, 0% 100%);
    background-image: url('https://picsum.photos/1920/800');
    height: 700px;
    width: var(--width-full);

}
.content_image-container {
    width: var(--width-12col);
    margin: 85px auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10px auto;

}
.content_image-text {
    grid-column: 4 / span 4;
    margin-top: 300px;
    grid-row: 2;
    color: var(--bacground-color-light);
}


.content_one_text{
    color: #A1E3D8;
}

.content_block_one_text h5{
    color: #069A8E;
}

.content_block_one{
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    height: 300px;
    display: flex;
}

.content_block_one_inside{
    width: 359px;
    height: 210px;
}

.content_block{
    display: grid;
    width: 1000px;
    grid-template-columns: 1fr 1fr;
    margin: 10px auto;
    color: #1A2130;
}

.content_block_one_image{
    width: 100%;
    height: 100%;
}

.content_block_one_image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.video{
    width: 700px;
    background-color: #FFFFFF;
    height: 395px;
    display: flex;
    align-items: center;
    border-radius: 5px; 
    margin: 20px auto;
}

.video1{
    width: var(--width-12col);
    background-color: #069A8E;
    height: 100px;
    display: flex;
    align-items: center;
    border-radius: 5px; 
    margin: 20px auto;
}

.video1_block {
    color: var(--color-white);
    margin-left: 15px;
    margin-right: 10px;
}

.end_content { 
    width: var(--width-full);
    margin: 20px auto;
    background-color: #E5E1DA;
    height: 150px;
    display: flex;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--grid-gap);
    box-sizing: border-box;
    align-items: center;
    border-radius: 5px;
    justify-content: space-evenly;
}

.end_content_block_text { 
     margin:0 0 0 20px;
}

.end_content_block_icon {
    display: flex;
    flex-direction:column;
    margin-top: 40px;
}

.quarter {
    width: 25%;
}
.half {
    width: 50%;
    border-left: 1px solid var(--bacground-color-light);
    text-align: right;
}

.text_box{
    width: var(--width-12col);
    margin: 90px;
    margin-top: 30px;
    color: #1A2130;
}

.box{
    width: var(--width-12col);
    margin: 20px auto; 
    background-color: #A1E3D8;
    height: 300px;
    display: flex;
    align-items: center;
    border-radius: 5px; 
    display: grid;
    width: var(--width-12col);
    grid-template-columns: 1fr 1fr;
    
}

.box_2_text{
    margin: 20px ;
    color: #FFFFFF;
}

.box_2_image{
    width: 100%;
    height: 300px;
}

.box_2_image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.join_text{
    margin-top: 20px;
    grid-row: 1;
    margin-left: 600px;
    color: #1A2130;
}

.us_block{
    display: grid;
    width: var(--width-12col);
    grid-template-columns: 1fr ;
    margin: 10px auto;
}

.us_block_content{
    margin: 20px auto;
    background-color: #E5E1DA;
    height: 150px;
    width: 900px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.us_block_content_text{
    margin: 20px;
}
.us_block_content_text_area{
    display: flex;
    justify-content: space-between;
    
}

.us_block_content_text_area_left button{
    background-color: #000000;
    border: 1px solid ;
    padding: 50px 50px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 45px;
}

.us_block_content_text_area_right{ 
    color: #1A2130;
    margin: 30px;
}

.information {
    margin: 20px auto; 
    background-color: #069A8E;
    height: 200px;
    display: flex;
    align-items: center;
    border-radius: 5px; 
    width: 800px;
}

.firstname-input {
    background-color: transparent;
    -webkit-appearance: none;
    outline: none;
    border: 1px solid #F05A7E;
    border-radius: 5px;
    padding: 10px 20px 10px 40px;
    color: var(--bacground-color-light);
    margin-left: 50px;
    margin-bottom: 20px;
}
.lastname-input {
    background-color: transparent;
    -webkit-appearance: none;
    outline: none;
    border: 1px solid #F05A7E;
    border-radius: 5px;
    padding: 10px 20px 10px 40px;
    color: var(--bacground-color-light);
    margin-left: 50px;
    margin-bottom: 20px;
}
.email-input {
    background-color: transparent;
    -webkit-appearance: none;
    outline: none;
    border: 1px solid #F05A7E;
    border-radius: 5px;
    padding: 10px 20px 10px 40px;
    color: var(--bacground-color-light);
    margin-left: 50px;
}

.information_cotainer_text_area{
    display: flex;
    justify-content: space-between;
}

.information_cotainer_text_area_right_box { 
    background-color: #E5E1DA;
    height: fit-content;
    display: flex;
    align-items: center;
    border-radius: 5px; 
    display: grid;
    width: 300px;
    margin-right: 80px;
    padding: 10px;
}

.information_cotainer_text_area_right button {
    background-color: #005555;
    border: 1px solid #005555;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 119px;
}

.information_cotainer_text_area_right button a {
    color: #F05A7E;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

.end_content_block_box button{
    background-color: #000000;
    border: 1px solid;
    padding: 20px 20px;
    border-radius: 200px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 0px;
}

.end_content_block_text_left i {
    margin: 0 10px 0 0
}

